Change New Password
<div class="container" ng-controller="ChangeNewPasswordCtrl as ctrl">

    <div class="col-sm-6 col-sm-offset-1">
        {{ctrl.resetToken}}

        <br>
        
        <form name="changePasswdForm" ng-submit="ctrl.changePassword()" novalidate autocomplete="off">
            <div class="form-group input-field col s6" >
                <input type="password" class="form-control" ng-model="ctrl.NewPassword"
                       name="NewPassword" placeholder="New Password" 
                       minlength="8"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
            </div>

            <div class="form-group input-field col s6" >
                <input type="password" class="form-control" ng-model="ctrl.ConfirmPassword"
                       name="ConfirmPassword" placeholder="Confirm Password" 
                       minlength="8"
                       compare-to="ctrl.NewPassword"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
            </div>
            
            <button type="submit" ng-disabled="changePasswdForm.$invalid" class="btn btn-default btn-lg">Change</button>
        </form>
    </div>

</div>